/*============================================================================
  Social Icon Buttons v1.0
  Author:
    Carson Shold | @cshold
    http://www.carsonshold.com
  MIT License
==============================================================================*/
@mixin transition($transition:0.1s all) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}

@font-face {
  font-family: 'icons';
  src:url('fonts/icons.eot?social');
  src:url('fonts/icons.eot?#iefixsocial') format('embedded-opentype'),
    url('fonts/icons.woff?social') format('woff'),
    url('fonts/icons.ttf?social') format('truetype'),
    url('fonts/icons.svg?social#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fancy:before { content: "\46"; }
.icon-twitter:before { content: "\54"; }
.icon-facebook:before { content: "\66"; }
.icon-google:before { content: "\67"; }
.icon-pinterest:before { content: "\70"; }


/*================ Social share buttons ================*/
$shareButtonHeight: 22px;
$shareCountBg: #fff;

.social-sharing {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

  * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  a {
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    margin: 0 10px 10px 0;
    height: $shareButtonHeight;
    line-height: $shareButtonHeight;
    text-decoration: none;
    font-weight: normal;

    &:hover {
      color: #fff;
    }
  }

  span {
    display: inline-block;
    vertical-align: top;
    height: $shareButtonHeight;
    line-height: $shareButtonHeight;
    font-size: 12px;
  }

  .icon {
    padding: 0 5px 0 10px;
  }

  /*================ Large Buttons ================*/
  &.is-large a {
    height: $shareButtonHeight*2;
    line-height: $shareButtonHeight*2;

    span {
      height: $shareButtonHeight*2;
      line-height: $shareButtonHeight*2;
      font-size: 18px;
    }

    .icon {
      padding: 0 10px 0 18px;
    }
  }
}

.share-title {
  font-weight: 900;
  font-size: 12px;
  padding-right: 10px;

  .is-large & {
    padding-right: 16px;
  }
}

.share-facebook {
  background-color: #3b5998;

  &:hover {
    background-color: darken(#3b5998, 10%);
  }
}

.share-twitter {
  background-color: #00aced;

  &:hover {
    background-color: darken(#00aced, 10%);
  }
}

.share-pinterest {
  background-color: #cb2027;

  &:hover {
    background-color: darken(#cb2027, 10%);
  }
}

.share-fancy {
  background-color: #4999dc;

  &:hover {
    background-color: darken(#4999dc, 10%);
  }
}

.share-google {
  background-color: #dd4b39;

  &:hover {
    background-color: darken(#dd4b39, 10%);
  }
}

.share-count {
  position: relative;
  background-color: $shareCountBg;
  padding: 0 8px;
  margin-right: -2px;
  font-size: 14px;
  line-height: $shareButtonHeight - 2;
  color: #333;
  border-radius: 0 2px 2px 0;
  border: 1px solid #ececec;
  opacity: 0;
  @include transition(opacity 0.2s ease-in);

  &.is-loaded {
    opacity: 1;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -5px;
    margin-top: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid $shareCountBg;
  }

  a:hover & {
    background-color: darken($shareCountBg, 5%);

    &:before {
      border-right-color: darken($shareCountBg, 5%);
    }
  }

  .is-large & {
    font-size: 18px;
    padding: 0 14px;
  }

}

/*================ Clean Buttons ================*/
.social-sharing.is-clean {
  a {
    background-color: #f6f6f6;
    border: 1px solid darken(#f6f6f6, 5%);
    color: #333;
    height: $shareButtonHeight*1.5;
    line-height: $shareButtonHeight*1.5;

    span {
      height: $shareButtonHeight*1.5;
      line-height: $shareButtonHeight*1.5;
      font-size: 14px;
    }

    &:hover {
      background-color: darken(#f6f6f6, 2%);
    }

    .share-title {
      font-weight: normal;
    }

    &:hover .share-count {
      background-color: $shareCountBg;

      &:before {
        border-right-color: $shareCountBg;
      }
    }
  }

  .share-count {
    top: -1px;
  }

  .icon-facebook {
    color: #3b5998;
  }

  .icon-twitter {
    color: #00aced;
  }

  .icon-pinterest {
    color: #cb2027;
  }

  .icon-fancy {
    color: #4999dc;
  }

  .icon-google {
    color: #dd4b39;
  }
}
